.navbar .leftside img {
  width: 20px; 
  height: auto; 
  margin-left: 20px; 
}

.navbar .leftSide {
  flex: 1; 
}

.navbar .rightSide {
  flex: 1; 
}
.navbar a {
  color: rgb(13, 1, 1);
  text-decoration: none;
  margin: 0 10px; 
  font-size: 24px; 
}

.navbar {
  display: flex;
  justify-content: space-evenly;
}

.yo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.yoo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.yooo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}